.titulo{
    text-align: center;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape{
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between ;
}