.pagina4{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ladoesquerdo{
    width: 50%;
    height: 40vh;
    border-radius: none;
}
.ladodireito{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}